/*
	*********************************************************************************************************
	*																										*
	*	IMPORTANT:	IE 4 does NOT accept the underscore character in a style name.  Aside from that, it		*
	*			seems comfortable with CSS. 																*
	*																										*
	*********************************************************************************************************
*/

/* Basic styling */
body	
{ 	
	font-size: 14pt;
	color: white; 
	background-color: black ;
}

a:link,
a:visited
{
    color: white;
    text-decoration: underline;
}

a:hover
{
    color: white;
    text-decoration: none;
}

.error
{
    color: red;
}

/* main layout styles */
div.nav
{ 
  height: 300px;
  width: 150px;
	vertical-align: top;
	padding-right: 10px;
	border: 2px solid #CCCCCC;
	border-left: 0px;
	background-color: #111111;
}

td.main
{
    vertical-align: top;
    padding-left: 10px;
    padding-top: 10px;
}

/* form styles */
td.form-label
{
    padding-right: 5px;
    text-align: right;
}

td.form-field
{
    text-align: left;
}

td.form-value
{
    text-align: left;
    font-weight: bold;
}

td.form-control
{
  text-align: left;
  margin-left: 10px;
}

td.form-extra
{
  text-align: left;
  padding-left: 10px;
}

td.form-submit
{
    padding-top: 10px;
    text-align: center;
}

/* element styling */
div.status-area
{
    background-color: #666666;
    
    border: 2px solid #CCCCCC;
}

/* table styling */
td.table-header
{
    font-weight: bold;
    
    border: 2px solid white;
    border-bottom: 3px solid white;
    
    padding: 5px 8px;
}

td.table-cell-on
{
    background-color: #666666;
    
    border: 1px solid white;
    
    padding: 5px 8px;
}

td.table-cell-off
{
    background-color: #333333;
    
    border: 1px solid white;
    
    padding: 5px 8px;
}

